.meals-list {
  list-style-type: none;
  width: 50%;
  margin: 5rem auto 2rem auto;
  border-radius: 0.5rem;
  overflow: hidden;
}

.meals-list > *:not(:last-child) {
  border-bottom: solid 1px #999;
}
